:root{
    --white-color:#fff;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: 1.1rem;
}

.grid{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

