<!DOCTYPE html>
<html>

<head>
  <title>Index</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="../public/javascripts/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="../public/stylesheets/bootstrap-4.5.0-dist/css/bootstrap.css">
  <style>
    label {
      min-width: 90px;
    }
  </style>
</head>

<body>
  <h1 class="text-center">WELCOME TO MYFIRST PROJECT</h1>
  <p class="text-center">EoI.Dc</p>
  <div class="container">
    <div class="jumbotron text-center">
      <div class="nav">
        <form action="login" method="POST">
          <label for="">Username</label>
          <input type="text" name="username" class="input-form">
          <br>
          <label for="">Password</label>
          <input type="text" name="password" class="input-form">
          <br>
          <button class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
</body>

</html>