table
  tr
    td
      p(style='font-size: larger;')
        b  Lists Users
    td
      a(href='./Users') Show all Users
  tr
    td
      p(style='font-size: larger;')
        b  Create User
    td
      a(href='./CreateUsers') Create Users
  tr
    td
      p(style='font-size: larger;')
        b  Find Users
    td
      a(href='./FindUsers') Find Users
