<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <p>Welcome to LOGIN PAGE</p>

    <div class="container text-center">
      <h2>WELCOME</h2>
      <form action="">
          <input type="text" id="username" name="username">name
          <input type="password" name="password" id="password">password
          <button>Confirm</button>
      </form>
    </div>
  </body>
</html>
